{% extends 'base.html' %}

{% block content %}
<p>This form imitates in a simple manner the algorithm of proof of work used in Bitcoin. A number (the nonce) is
generated and appended to the block then the result is hashed. If the value of this hash is under the target(determined
    by the difficulty) the nonce is validated. Else it is incremented and tested again.</p>
<p>Based on an algorithm from <a href="https://github.com/bitcoinbook/bitcoinbook">Mastering Bitcoin</a></p>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.block.label }}<br>
        {{ form.block(size=32, autocomplete="off") }}
        {% for error in form.block.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.difficulty.label }}<br>
        {{ form.difficulty(size=32, autocomplete="off") }}
        {% for error in form.difficulty.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% if nonce and hash_result %}
<p>
<ul>
    <li>Hash : {{ hash_result }}</li>
    <li>Nonce : {{ nonce }}</li>
</ul>
</p>
{% endif %}

{% endblock %}