{% extends 'base.html' %}

{% block body %}
<h1>Projets</h1>

<p>Vous trouverez ici des projets plus ou moins grands, personnels et professionels.</p>

<ul>
    <li>Ce <a href="https://github.com/Nuorah/flaskhar">site</a>, réalisé avec <a href="http://flask.pocoo.org/">Flask</a> et hébergé sur
        <a href="https://www.pythonanywhere.com">PythonAnywhere</a>, inspiré sans vergogne de <a href="https://gstaff.org/">Chris Grindstaff</a>.</li>
    <li>Un petit script qui vous permet de lancer un jeu de la vie de Conway en ligne de commande :
        <a href="https://github.com/Nuorah/conway">Conway</a>.</li>
    <li>Un formulaire qui permet de tester simplement l'algorithme de preuve de travail de Bitcoin : <a href="/pow">Proof of work</a>.</li>
</ul>
{% endblock %}