{% extends 'base.html' %}

{% block content %}
<p>Vous trouverez ici des projets plus ou moins grands, personnels et professionels, en Python.</p>

<ul>
    <li>Ce <a href="https://github.com/Nuorah/flaskhar">site</a>, réalisé avec <a href="http://flask.pocoo.org/">Flask</a> et hébergé sur
        <a href="https://www.pythonanywhere.com">PythonAnywhere</a>.</li>
    <li>Un petit script qui vous permet de lancer un jeu de la vie de Conway en ligne de commande :
        <a href="https://github.com/Nuorah/conway">Conway</a></li>
</ul>
{% endblock %}